/*strong { color: red;}*/
/*strong { color: yellow;}*/
/*strong { color: blue;}*/
/*strong { color: green;}*/
/*strong { color: black;}*/
p {color: blue; }
strong { color: red; text-decoration: underline;}
